modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32953
externalPort = 3002

[[ports]]
localPort = 33423
externalPort = 5173

[[ports]]
localPort = 35043
externalPort = 3001

[[ports]]
localPort = 35097
externalPort = 6000

[[ports]]
localPort = 35787
externalPort = 6800

[[ports]]
localPort = 38761
externalPort = 3000

[[ports]]
localPort = 40719
externalPort = 5000

[[ports]]
localPort = 41695
externalPort = 3003

[[ports]]
localPort = 46603
externalPort = 4200

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0"]

[userenv]

[userenv.shared]
TELEGRAM_CHAT_ID = "-1002696702047"
